In [1]:
import pandas as pd
import json
import re
from tqdm import tqdm
# import sys
# import os
# sys.path.append(os.path.dirname(os.path.dirname(os.path.abspath(__file__))))
from WikidataLoader import WikiDataLoader

COMPMIX_IR_PATH = "data/CompMix-IR/kb_wikipedia_mixed_rd.json"
COMPMIX_PATH = "data/CompMix/train_set.jsonl"
dataloader = WikiDataLoader()

In [3]:

infoboxes, wikitables = dataloader.load_tables(qid="Q493078")

display(len(infoboxes))
display(len(wikitables))

1

40

In [15]:

def read_jsonl(path):
    with open(path, "r", encoding="utf-8") as f:
        qa = f.readlines()
    qa = [json.loads(line) for line in qa]
    return pd.DataFrame(qa)


df = read_jsonl(COMPMIX_PATH)
df.head()

,question_id,question,domain,entities,answers,answer_src,answer_text,convmix_question_id
0,3642,What is the genre of the tv series High Seas?,tvseries,"[{'id': 'Q186424', 'label': 'detective fiction'}]","[{'id': 'Q59591953', 'label': 'High Seas'}]",kb,detective fiction,1236-0
1,2082,What year was M.O.V.E first formed?,music,"[{'id': 'Q285547', 'label': 'Move'}]","[{'id': '1997-01-01T00:00:00Z', 'label': '1997'}]",infobox,1997,694-1
2,4693,What year was the inception of the soccer club...,soccer,"[{'id': 'Q18656', 'label': 'Manchester United ...","[{'id': '1878-01-01T00:00:00Z', 'label': '1878'}]",kb,1878,1588-4
3,2149,Who were the creators of the situation comedy ...,tvseries,"[{'id': 'Q615944', 'label': 'The Mary Tyler Mo...","[{'id': 'Q95125', 'label': 'James L. Brooks'},...",kb,James L. Brooks and Allan Burns,716-2
4,2212,Which country did the TV series Coupling origi...,tvseries,"[{'id': 'Q1137587', 'label': 'Coupling'}]","[{'id': 'Q145', 'label': 'United Kingdom'}]",infobox,United Kingdom,737-0

### 下载table数据
使用wikidataloader下载对应qid的text、table、infobox

In [2]:
import re
import json

table_path = "data/CompMix/tableqa_sample.csv"
df = pd.read_csv(table_path)

def convert_to_json(s):
    # 先处理字典的单引号，但保留词中的撇号
    # 使用正则表达式匹配字典的键值对中的单引号
    s = re.sub(r"'(id|label)':", r'"\1":', s)
    # 处理值中的单引号，但排除所有格撇号
    s = re.sub(r":\s*'([^']*)'", r': "\1"', s)
    return s


def get_entities(df):
    entities = []
    for i,row in df.iterrows():
        try:
            entity_str = convert_to_json(row['entities'])
            ej = json.loads(entity_str)
            for entity in ej:
                if entity not in entities:
                    entities.append(entity)
        except Exception as error:
            print(f"row: {i},entities: {row['entities']}")
            print(f"error: {error}")
    return entities

entities = get_entities(df)
# entities[:5]

for entity in tqdm(entities):
    qid = entity['id']
    print(f"qid: {qid}")
    dataloader.download_tables(qid)
    # dataloader.load_wikidata(qid)

  0%|          | 0/119 [00:00<?, ?it/s]

qid: Q129817

  1%|          | 1/119 [00:01<03:18,  1.69s/it]

qid: Q47221

  2%|▏         | 2/119 [00:02<02:46,  1.43s/it]

qid: Q28659892

  3%|▎         | 3/119 [00:04<03:01,  1.57s/it]

qid: Q19320959

  3%|▎         | 4/119 [00:06<03:00,  1.57s/it]

No tables for qid: Q19320959, error: No tables found
qid: Q64584978

  4%|▍         | 5/119 [00:07<02:48,  1.48s/it]

qid: Q577698

  5%|▌         | 6/119 [00:08<02:41,  1.43s/it]

qid: Q83459

  6%|▌         | 7/119 [00:11<03:09,  1.69s/it]

qid: Q1400775

  7%|▋         | 8/119 [00:12<02:47,  1.51s/it]

qid: Q4925477

  8%|▊         | 9/119 [00:13<02:42,  1.47s/it]

No tables for qid: Q4925477, error: No tables found
qid: Q2722967

  8%|▊         | 10/119 [00:14<02:22,  1.31s/it]

qid: Q281249

  9%|▉         | 11/119 [00:15<02:14,  1.25s/it]

qid: Q96388493

 10%|█         | 12/119 [00:17<02:35,  1.45s/it]

qid: Q43203

 11%|█         | 13/119 [00:19<02:52,  1.63s/it]

qid: Q56274745

 12%|█▏        | 14/119 [00:20<02:37,  1.50s/it]

qid: Q79965217

 13%|█▎        | 15/119 [00:21<02:18,  1.33s/it]

qid: Q526196

 13%|█▎        | 16/119 [00:23<02:20,  1.36s/it]

qid: Q6457129

 14%|█▍        | 17/119 [00:23<01:58,  1.16s/it]

No tables for qid: Q6457129, error: HTTP Error 404: Not Found
qid: Q15862

 15%|█▌        | 18/119 [00:25<02:02,  1.21s/it]

No tables for qid: Q15862, error: No tables found
qid: Q174389

 16%|█▌        | 19/119 [00:25<01:44,  1.04s/it]

No tables for qid: Q174389, error: 'ascii' codec can't encode character '\xe9' in position 11: ordinal not in range(128)
Error downloading tables for qid: Q174389, error: list index out of range
qid: Q162255

 17%|█▋        | 20/119 [00:27<01:53,  1.15s/it]

qid: Q63985561

 18%|█▊        | 21/119 [00:28<02:01,  1.24s/it]

No tables for qid: Q63985561, error: No tables found
qid: Q308683

 18%|█▊        | 22/119 [00:30<02:09,  1.34s/it]

qid: Q907568

 19%|█▉        | 23/119 [00:31<01:59,  1.25s/it]

qid: Q1011547

 20%|██        | 24/119 [00:32<02:06,  1.33s/it]

qid: Q171669

 21%|██        | 25/119 [00:34<02:10,  1.38s/it]

No tables for qid: Q171669, error: No tables found
qid: Q350785

 22%|██▏       | 26/119 [00:35<02:05,  1.35s/it]

qid: Q480

 23%|██▎       | 27/119 [00:37<02:06,  1.38s/it]

qid: Q173053

 24%|██▎       | 28/119 [00:39<02:42,  1.78s/it]

qid: Q48102683

 24%|██▍       | 29/119 [00:41<02:35,  1.72s/it]

No tables for qid: Q48102683, error: No tables found
qid: Q14944179

 25%|██▌       | 30/119 [00:42<02:12,  1.49s/it]

qid: Q260858

 26%|██▌       | 31/119 [00:43<02:10,  1.49s/it]

qid: Q358424

 27%|██▋       | 32/119 [00:45<02:14,  1.54s/it]

qid: Q6716074

 28%|██▊       | 33/119 [00:46<02:00,  1.40s/it]

qid: Q129079

 29%|██▊       | 34/119 [00:47<01:51,  1.31s/it]

qid: Q2080591

 29%|██▉       | 35/119 [00:49<02:02,  1.46s/it]

qid: Q23001951

 30%|███       | 36/119 [00:51<02:04,  1.50s/it]

No tables for qid: Q23001951, error: No tables found
qid: Q363402

 31%|███       | 37/119 [00:52<01:50,  1.34s/it]

qid: Q646135

 32%|███▏      | 38/119 [00:53<02:03,  1.52s/it]

No tables for qid: Q646135, error: No tables found
qid: Q12897

 33%|███▎      | 39/119 [00:55<02:08,  1.60s/it]

No tables for qid: Q12897, error: 'ascii' codec can't encode character '\xe9' in position 13: ordinal not in range(128)
Error downloading tables for qid: Q12897, error: list index out of range
qid: Q15978694

 34%|███▎      | 40/119 [00:57<02:08,  1.63s/it]

qid: Q2579463

 34%|███▍      | 41/119 [00:59<02:11,  1.68s/it]

qid: Q103821894

 35%|███▌      | 42/119 [01:01<02:19,  1.81s/it]

No tables for qid: Q103821894, error: invalid literal for int() with base 10: '2style="text-align:right;"'
Error downloading tables for qid: Q103821894, error: list index out of range
qid: Q309095

 36%|███▌      | 43/119 [01:03<02:24,  1.90s/it]

qid: Q831111

 37%|███▋      | 44/119 [01:04<02:04,  1.66s/it]

qid: Q4653736

 38%|███▊      | 45/119 [01:05<01:48,  1.46s/it]

qid: Q83338

 39%|███▊      | 46/119 [01:07<02:00,  1.64s/it]

qid: Q19871

 39%|███▉      | 47/119 [01:09<01:55,  1.60s/it]

qid: Q11975

 40%|████      | 48/119 [01:11<02:03,  1.74s/it]

qid: Q7751674

 41%|████      | 49/119 [01:13<02:03,  1.76s/it]

qid: Q999222

 42%|████▏     | 50/119 [01:14<01:53,  1.64s/it]

No tables for qid: Q999222, error: HTTP Error 404: Not Found
qid: Q13361030

 43%|████▎     | 51/119 [01:16<01:55,  1.70s/it]

qid: Q43926

 44%|████▎     | 52/119 [01:18<01:59,  1.78s/it]

qid: Q18656

 45%|████▍     | 53/119 [01:20<02:01,  1.85s/it]

qid: Q4484528

 45%|████▌     | 54/119 [01:22<02:09,  2.00s/it]

qid: Q11576

 46%|████▌     | 55/119 [01:23<01:47,  1.68s/it]

No tables for qid: Q11576, error: 'ascii' codec can't encode character '\xfa' in position 12: ordinal not in range(128)
qid: Q47774

 47%|████▋     | 56/119 [01:31<03:48,  3.63s/it]

No tables for qid: Q47774, error: HTTP Error 404: Not Found
qid: Q18741

 48%|████▊     | 57/119 [01:35<03:55,  3.80s/it]

qid: Q5400672

 49%|████▊     | 58/119 [01:38<03:22,  3.32s/it]

qid: Q9616

 50%|████▉     | 59/119 [01:41<03:22,  3.38s/it]

qid: Q17515

 50%|█████     | 60/119 [01:47<03:56,  4.00s/it]

qid: Q106975347

 51%|█████▏    | 61/119 [01:49<03:31,  3.64s/it]

qid: Q1422

 52%|█████▏    | 62/119 [01:54<03:43,  3.91s/it]

qid: Q92748215

 53%|█████▎    | 63/119 [01:56<03:08,  3.37s/it]

qid: Q868683

 54%|█████▍    | 64/119 [01:59<03:06,  3.39s/it]

No tables for qid: Q868683, error: No tables found
qid: Q107226

 55%|█████▍    | 65/119 [02:04<03:14,  3.61s/it]

qid: Q37073

 55%|█████▌    | 66/119 [02:07<03:09,  3.57s/it]

qid: Q211756

 56%|█████▋    | 67/119 [02:10<03:02,  3.52s/it]

qid: Q83287

 57%|█████▋    | 68/119 [02:16<03:29,  4.10s/it]

qid: Q80966

 58%|█████▊    | 69/119 [02:21<03:44,  4.48s/it]

qid: Q13419956

 59%|█████▉    | 70/119 [02:24<03:16,  4.02s/it]

qid: Q276445

 60%|█████▉    | 71/119 [02:27<02:53,  3.62s/it]

qid: Q3608872

 61%|██████    | 72/119 [02:30<02:42,  3.45s/it]

qid: Q520296

 61%|██████▏   | 73/119 [02:34<02:43,  3.56s/it]

qid: Q41254

 62%|██████▏   | 74/119 [02:37<02:36,  3.48s/it]

qid: Q5429755

 63%|██████▎   | 75/119 [02:40<02:19,  3.17s/it]

No tables for qid: Q5429755, error: No tables found
qid: Q187364

 64%|██████▍   | 76/119 [02:43<02:26,  3.42s/it]

qid: Q190214

 65%|██████▍   | 77/119 [02:48<02:37,  3.75s/it]

qid: Q357984

 66%|██████▌   | 78/119 [02:51<02:29,  3.65s/it]

qid: Q160219

 66%|██████▋   | 79/119 [02:55<02:25,  3.64s/it]

qid: Q729265

 67%|██████▋   | 80/119 [02:58<02:11,  3.36s/it]

qid: Q40523

 68%|██████▊   | 81/119 [03:02<02:20,  3.70s/it]

qid: Q963032

 69%|██████▉   | 82/119 [03:04<01:57,  3.19s/it]

qid: Q204357

 70%|██████▉   | 83/119 [03:08<02:03,  3.42s/it]

qid: Q165193

 71%|███████   | 84/119 [03:12<01:58,  3.40s/it]

qid: Q73965

 71%|███████▏  | 85/119 [03:15<01:52,  3.32s/it]

qid: Q1281148

 72%|███████▏  | 86/119 [03:17<01:40,  3.04s/it]

qid: Q5605894

 73%|███████▎  | 87/119 [03:20<01:35,  3.00s/it]

No tables for qid: Q5605894, error: No tables found
qid: Q23894626

 74%|███████▍  | 88/119 [03:24<01:46,  3.44s/it]

No tables for qid: Q23894626, error: No tables found
qid: Q96415602

 75%|███████▍  | 89/119 [03:27<01:33,  3.12s/it]

qid: Q122473

 76%|███████▌  | 90/119 [03:30<01:32,  3.17s/it]

qid: Q180865

 76%|███████▋  | 91/119 [03:35<01:39,  3.54s/it]

qid: Q58416650

 77%|███████▋  | 92/119 [03:37<01:29,  3.32s/it]

qid: Q65071242

 78%|███████▊  | 93/119 [03:41<01:25,  3.28s/it]

qid: Q178095

 79%|███████▉  | 94/119 [03:44<01:22,  3.30s/it]

qid: Q507057

 80%|███████▉  | 95/119 [03:47<01:16,  3.18s/it]

qid: Q1097348

 81%|████████  | 96/119 [03:49<01:07,  2.94s/it]

No tables for qid: Q1097348, error: HTTP Error 404: Not Found
qid: Q3023357

 82%|████████▏ | 97/119 [03:53<01:08,  3.12s/it]

qid: Q23572

 82%|████████▏ | 98/119 [03:58<01:19,  3.79s/it]

qid: Q26186223

 83%|████████▎ | 99/119 [04:00<01:06,  3.33s/it]

qid: Q18758167

 84%|████████▍ | 100/119 [04:03<01:01,  3.26s/it]

qid: Q188632

 85%|████████▍ | 101/119 [04:07<00:59,  3.32s/it]

qid: Q5374214

 86%|████████▌ | 102/119 [04:09<00:50,  2.99s/it]

qid: Q314176

 87%|████████▋ | 103/119 [04:12<00:48,  3.06s/it]

qid: Q743725

 87%|████████▋ | 104/119 [04:15<00:43,  2.93s/it]

qid: Q832375

 88%|████████▊ | 105/119 [04:18<00:40,  2.92s/it]

qid: Q48337

 89%|████████▉ | 106/119 [04:24<00:48,  3.75s/it]

qid: Q4086319

 90%|████████▉ | 107/119 [04:26<00:39,  3.27s/it]

qid: Q11571

 91%|█████████ | 108/119 [04:32<00:44,  4.05s/it]

qid: Q45

 92%|█████████▏| 109/119 [04:38<00:47,  4.71s/it]

qid: Q185449

 92%|█████████▏| 110/119 [04:40<00:35,  3.99s/it]

qid: Q188228

 93%|█████████▎| 111/119 [04:49<00:43,  5.43s/it]

qid: Q19317

 94%|█████████▍| 112/119 [04:51<00:31,  4.53s/it]

qid: Q4457

 95%|█████████▍| 113/119 [04:56<00:26,  4.47s/it]

qid: Q74331

 96%|█████████▌| 114/119 [05:00<00:21,  4.39s/it]

qid: Q56485183

 97%|█████████▋| 115/119 [05:02<00:14,  3.70s/it]

qid: Q42891

 97%|█████████▋| 116/119 [05:06<00:11,  3.88s/it]

qid: Q1335949

 98%|█████████▊| 117/119 [05:09<00:06,  3.49s/it]

qid: Q151269

 99%|█████████▉| 118/119 [05:14<00:03,  3.95s/it]

qid: Q1069956

100%|██████████| 119/119 [05:15<00:00,  2.65s/it]

## 解析text

In [ ]:
qid = "Q64584978"
page = pd.read_html(dataloader.get_url_from_qid(qid))
for df in page:
    display(df.head())

In [ ]:
qid = "Q64584978"
infoboxes, tables = dataloader.load_tables(qid)

for table in tables:
    df = pd.DataFrame(columns=table['table_headers'], data=table['table_text'])
    display(df.head())

In [2]:
a = {'Q12':2, 'Q323':3, 'Q324':0}
b = sorted(a.items(), key=lambda x: x[1], reverse=True)
display(b)
c = list(a.items())
c

[('Q323', 3), ('Q12', 2), ('Q324', 0)]

[('Q12', 2), ('Q323', 3), ('Q324', 0)]

In [3]:
path = 'data/CompMix/tableqa_sample.csv'
df = pd.read_csv(path)
df.head()

,question_id,question,domain,entities,answers,answer_src,answer_text,convmix_question_id
0,4052,What is Russell Crowe's date of birth?,movies,"[{'id': 'Q129817', 'label': 'Russell Crowe'}]","[{'id': '1964-04-07T00:00:00Z', 'label': '7 Ap...",table,7 April 1964,1372-3
1,1057,Who won the Best Actor award in the Los Angele...,movies,"[{'id': 'Q47221', 'label': 'Taxi Driver'}]","[{'id': 'Q36949', 'label': 'Robert De Niro'}]",table,Robert De Niro,352-2
2,1575,Lin-Manuel Miranda played the role of who in t...,music,"[{'id': 'Q28659892', 'label': 'list of awards ...","[{'id': 'Q178903', 'label': 'Alexander Hamilto...",table,Alexander Hamilton,524-4
3,2992,which date was Emily in Paris season 1 released?,tvseries,"[{'id': 'Q64584978', 'label': 'Emily in Paris'}]","[{'id': '2020-10-02T00:00:00Z', 'label': '2 Oc...",table,"October 2, 2020",1017-0
4,4249,Winner of the 2021 MLS cup?,soccer,"[{'id': 'Q577698', 'label': 'MLS Cup'}]","[{'id': 'Q13361030', 'label': 'New York City F...",table,New York City FC,1439-0

In [16]:
row = df.iloc[0]
entity_str = convert_to_json(row['entities'])
entities = json.loads(entity_str)
for entity in entities:
    print(entity['id'])

TypeError: 'int' object is not subscriptable

In [ ]:
for i,row in df.iterrows():
    table_qa_data = {
        'question': row['question'],
    }